.jumbotron {
    text-align: center;
    background-color: blue;
    color: white;
    border-radius: 0;
    border-bottom: 10px solid black;
  }

.weatherCard {
    text-align: left;
    background-color: darkblue;
    color: white;
    border-radius: 5px;
}

.recentResultBtn {
    color: black;
    background-color: grey;
}

#searchBtn {
    color: white;
    background-color: cornflowerblue;
}

.UVI-min {
    background-color:green;
    color: white
}

.UVI-mod {
    background-color: orange;
    color: white;
}

.UVI-sev {
    background-color: crimson;
    color: white;
}